//- _sp_header_nav
mixin sp_header_nav(path)
  //- #menu_btn.menu-btn
  //-   .menu-btn-wrapper
  //-     span.top
  //-     span.mid
  //-     span.btm
  //- #menu.menu
  //-   ul
  //-     li.appear01
  //-       a(href=path + 'about.html') #{about}
  //-     li.appear02
  //-       a(href=path + 'admission.html') #{admission}
  //-     li.appear03
  //-       a(href=path + 'information.html') #{info}
  //-     li.appear04
  //-       a(href=path + 'access.html') #{access}
  //-     li.appear05
  //-       a(href=path + 'reservation.html', onclick="ga('send', 'event', 'sp_nav', 'click', 'to_reserve');") #{reserve}
  //- #menu_overlay.menu-overlay
//- _sp_header_nav
